{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Edit your account{% endblock %}

{% block content %}
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% thumbnail user.profile.photo "720" as im %}
            {% if im.url != null %}
                <img src="{{ im.url }}" alt="Avatar" id='profile_photo'>
            {% endif %}
        {% endthumbnail %}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>
{% endblock %}}
